<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel empresas add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields_atop {$brickclass_addfields_atop}"><div class="rnr-simplefields edit">
	{BEGIN direccion_fieldblock}
<div data-fieldname="direccion" class="rnr-field style1 {$fielddispclass_direccion}">
  <div class="rnr-label above">{BEGIN direccion_label}{$label empresas direccion}{END direccion_label}</div>
  <div class="rnr-control style3">{$direccion_editcontrol}</div>
</div>
{END direccion_fieldblock}
	{BEGIN telefonos_fieldblock}
<div data-fieldname="telefonos" class="rnr-field style1 {$fielddispclass_telefonos}">
  <div class="rnr-label above">{BEGIN telefonos_label}{$label empresas telefonos}{END telefonos_label}</div>
  <div class="rnr-control style3">{$telefonos_editcontrol}</div>
</div>
{END telefonos_fieldblock}
	{BEGIN correo_fieldblock}
<div data-fieldname="correo" class="rnr-field style1 {$fielddispclass_correo}">
  <div class="rnr-label above">{BEGIN correo_label}{$label empresas correo}{END correo_label}</div>
  <div class="rnr-control style3">{$correo_editcontrol}</div>
</div>
{END correo_fieldblock}
	{BEGIN correo2_fieldblock}
<div data-fieldname="correo2" class="rnr-field style1 {$fielddispclass_correo2}">
  <div class="rnr-label above">{BEGIN correo2_label}{$label empresas correo2}{END correo2_label}</div>
  <div class="rnr-control style3">{$correo2_editcontrol}</div>
</div>
{END correo2_fieldblock}
	{BEGIN leyenda_fieldblock}
<div data-fieldname="leyenda" class="rnr-field style1 {$fielddispclass_leyenda}">
  <div class="rnr-label above">{BEGIN leyenda_label}{$label empresas leyenda}{END leyenda_label}</div>
  <div class="rnr-control style3">{$leyenda_editcontrol}</div>
</div>
{END leyenda_fieldblock}
</div>
</div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>Guardar</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" id="resetButton{$id}">Reiniciar</a>
	{END reset_button}
	{BEGIN cancel_button}
	<a href="#" class="rnr-button" id="cancelButton{$id}">Cancelar</a>
	{END cancel_button}
	{BEGIN back_button}
	<a href="#" class="rnr-button" id="backButton{$id}">Volver a la lista</a>
	{END back_button}
	{BEGIN backToMenu_button}
	<a href="#" class="rnr-button" id="backToMenuButton{$id}">Regresar al menú</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
