<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">

{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel promociones print}</h1>
</div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Página <span class="rp-pageno">{$pageno}</span> / <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN imagen_fieldheadercolumn}
<th class="runner-cc {$imagen_class}" {$imagen_style}>
	{BEGIN imagen_fieldheader}
	<b>{$label promociones imagen}</b>
	{END imagen_fieldheader}
</th>
{END imagen_fieldheadercolumn}
	{BEGIN ruta_fieldheadercolumn}
<th class="runner-cc {$ruta_class}" {$ruta_style}>
	{BEGIN ruta_fieldheader}
	<b>{$label promociones ruta}</b>
	{END ruta_fieldheader}
</th>
{END ruta_fieldheadercolumn}
	{BEGIN promocion_fieldheadercolumn}
<th class="runner-cc {$promocion_class}" {$promocion_style}>
	{BEGIN promocion_fieldheader}
	<b>{$label promociones promocion}</b>
	{END promocion_fieldheader}
</th>
{END promocion_fieldheadercolumn}
	{BEGIN leyenda_fieldheadercolumn}
<th class="runner-cc {$leyenda_class}" {$leyenda_style}>
	{BEGIN leyenda_fieldheader}
	<b>{$label promociones leyenda}</b>
	{END leyenda_fieldheader}
</th>
{END leyenda_fieldheadercolumn}
	{BEGIN moneda_fieldheadercolumn}
<th class="runner-cc {$moneda_class}" {$moneda_style}>
	{BEGIN moneda_fieldheader}
	<b>{$label promociones moneda}</b>
	{END moneda_fieldheader}
</th>
{END moneda_fieldheadercolumn}
	{BEGIN precio_fieldheadercolumn}
<th class="runner-cc {$precio_class}" {$precio_style}>
	{BEGIN precio_fieldheader}
	<b>{$label promociones precio}</b>
	{END precio_fieldheader}
</th>
{END precio_fieldheadercolumn}
	{BEGIN detalles_fieldheadercolumn}
<th class="runner-cc {$detalles_class}" {$detalles_style}>
	{BEGIN detalles_fieldheader}
	<b>{$label promociones detalles}</b>
	{END detalles_fieldheader}
</th>
{END detalles_fieldheadercolumn}
	{BEGIN intervalo_fieldheadercolumn}
<th class="runner-cc {$intervalo_class}" {$intervalo_style}>
	{BEGIN intervalo_fieldheader}
	<b>{$label promociones intervalo}</b>
	{END intervalo_fieldheader}
</th>
{END intervalo_fieldheadercolumn}
	{BEGIN destino_fieldheadercolumn}
<th class="runner-cc {$destino_class}" {$destino_style}>
	{BEGIN destino_fieldheader}
	<b>{$label promociones destino}</b>
	{END destino_fieldheader}
</th>
{END destino_fieldheadercolumn}
	{BEGIN zona_fieldheadercolumn}
<th class="runner-cc {$zona_class}" {$zona_style}>
	{BEGIN zona_fieldheader}
	<b>{$label promociones zona}</b>
	{END zona_fieldheader}
</th>
{END zona_fieldheadercolumn}
	{BEGIN estado_fieldheadercolumn}
<th class="runner-cc {$estado_class}" {$estado_style}>
	{BEGIN estado_fieldheader}
	<b>{$label promociones estado}</b>
	{END estado_fieldheader}
</th>
{END estado_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN imagen_fieldcolumn}
<td  class="runner-cc {$imagen_class}" {$imagen_style} {$recordattrs}>
	{$imagen_value}
</td>
{END imagen_fieldcolumn}
	{BEGIN ruta_fieldcolumn}
<td  class="runner-cc {$ruta_class}" {$ruta_style} {$recordattrs}>
	{$ruta_value}
</td>
{END ruta_fieldcolumn}
	{BEGIN promocion_fieldcolumn}
<td  class="runner-cc {$promocion_class}" {$promocion_style} {$recordattrs}>
	{$promocion_value}
</td>
{END promocion_fieldcolumn}
	{BEGIN leyenda_fieldcolumn}
<td  class="runner-cc {$leyenda_class}" {$leyenda_style} {$recordattrs}>
	{$leyenda_value}
</td>
{END leyenda_fieldcolumn}
	{BEGIN moneda_fieldcolumn}
<td  class="runner-cc {$moneda_class}" {$moneda_style} {$recordattrs}>
	{$moneda_value}
</td>
{END moneda_fieldcolumn}
	{BEGIN precio_fieldcolumn}
<td  class="runner-cc {$precio_class}" {$precio_style} {$recordattrs}>
	{$precio_value}
</td>
{END precio_fieldcolumn}
	{BEGIN detalles_fieldcolumn}
<td  class="runner-cc {$detalles_class}" {$detalles_style} {$recordattrs}>
	{$detalles_value}
</td>
{END detalles_fieldcolumn}
	{BEGIN intervalo_fieldcolumn}
<td  class="runner-cc {$intervalo_class}" {$intervalo_style} {$recordattrs}>
	{$intervalo_value}
</td>
{END intervalo_fieldcolumn}
	{BEGIN destino_fieldcolumn}
<td  class="runner-cc {$destino_class}" {$destino_style} {$recordattrs}>
	{$destino_value}
</td>
{END destino_fieldcolumn}
	{BEGIN zona_fieldcolumn}
<td  class="runner-cc {$zona_class}" {$zona_style} {$recordattrs}>
	{$zona_value}
</td>
{END zona_fieldcolumn}
	{BEGIN estado_fieldcolumn}
<td  class="runner-cc {$estado_class}" {$estado_style} {$recordattrs}>
	{$estado_value}
</td>
{END estado_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
		{BEGIN details_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN details_record}
		<td  class="rnr-edge" colspan="12">
			{BEGIN details_table}
			{$details}
			{END details_table}
		</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
		{END details_record}
	</tr>
	{END details_row}
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
