<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="imagen">
	{$imagen_editcontrol}
	</control>
	<control 
	field="ruta">
	{$ruta_editcontrol}
	</control>
	<control 
	field="leyenda">
	{$leyenda_editcontrol}
	</control>
	<control 
	field="moneda">
	{$moneda_editcontrol}
	</control>
	<control 
	field="precio">
	{$precio_editcontrol}
	</control>
	<control 
	field="detalles">
	{$detalles_editcontrol}
	</control>
	<control 
	field="intervalo">
	{$intervalo_editcontrol}
	</control>
	<control 
	field="destino">
	{$destino_editcontrol}
	</control>
	<control 
	field="zona">
	{$zona_editcontrol}
	</control>
	<control 
	field="estado">
	{$estado_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
