<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}



{BEGIN container_master}
<div class="rnr-c rnr-ch rnr-c-master">

{BEGIN mastertable_block}
<div  class="style1 rnr-bl rnr-b-masterinfoprint {$brickclass_masterinfoprint}">{$showmasterfile}
</div>
{END mastertable_block}

<div class="rnr-hfiller"></div>
</div>
{END container_master}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">

{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel sliders print}</h1>
</div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Página <span class="rp-pageno">{$pageno}</span> / <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN slider_fieldheadercolumn}
<th class="runner-cc {$slider_class}" {$slider_style}>
	{BEGIN slider_fieldheader}
	<b>{$label sliders slider}</b>
	{END slider_fieldheader}
</th>
{END slider_fieldheadercolumn}
	{BEGIN promocion_fieldheadercolumn}
<th class="runner-cc {$promocion_class}" {$promocion_style}>
	{BEGIN promocion_fieldheader}
	<b>{$label sliders promocion}</b>
	{END promocion_fieldheader}
</th>
{END promocion_fieldheadercolumn}
	{BEGIN imagen_fieldheadercolumn}
<th class="runner-cc {$imagen_class}" {$imagen_style}>
	{BEGIN imagen_fieldheader}
	<b>{$label sliders imagen}</b>
	{END imagen_fieldheader}
</th>
{END imagen_fieldheadercolumn}
	{BEGIN clase_fieldheadercolumn}
<th class="runner-cc {$clase_class}" {$clase_style}>
	{BEGIN clase_fieldheader}
	<b>{$label sliders clase}</b>
	{END clase_fieldheader}
</th>
{END clase_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN slider_fieldcolumn}
<td  class="runner-cc {$slider_class}" {$slider_style} {$recordattrs}>
	{$slider_value}
</td>
{END slider_fieldcolumn}
	{BEGIN promocion_fieldcolumn}
<td  class="runner-cc {$promocion_class}" {$promocion_style} {$recordattrs}>
	{$promocion_value}
</td>
{END promocion_fieldcolumn}
	{BEGIN imagen_fieldcolumn}
<td  class="runner-cc {$imagen_class}" {$imagen_style} {$recordattrs}>
	{$imagen_value}
</td>
{END imagen_fieldcolumn}
	{BEGIN clase_fieldcolumn}
<td  class="runner-cc {$clase_class}" {$clase_style} {$recordattrs}>
	{$clase_value}
</td>
{END clase_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
	{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
